<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BoardMapper">

  	<select id="getBoardById" 
  	resultType="com.example.demo.mapper.BoardVO"
  	parameterType="Integer">
    SELECT num,author,wdate,title
    FROM board
    WHERE num = #{num}
  	</select>
  
  	<select id="addAndGetKey" resultType="Integer">
  		SELECT last_insert_id()
  	</select>
  
  	<insert id="insertBoard"
  	parameterType="com.example.demo.mapper.BoardVO">
  	INSERT INTO board 
  	VALUES (Null, #{author}, #{wdate}, #{title}, #{contents})
  	</insert>
  	
  	<insert id="add" parameterType="com.example.demo.mapper.BoardVO" 
  	useGeneratedKeys="true" keyProperty="num">
  	INSERT INTO board (author, wdate, title, contents) VALUES (#{author}, now(), #{title}, #{contents})
  	</insert>
  	
  	<insert id="replyInsert" parameterType="com.example.demo.mapper.BoardVO">
  	INSERT INTO board (author, wdate, title, contents, pnum)
  	VALUES (#{author}, now(), #{title}, #{contents}, #{pnum})
  	</insert>
  	
  	<insert id="attach_insert"
  	parameterType="com.example.demo.mapper.AttachVO">
  	INSERT INTO attachment 
  	VALUES (#{num}, #{filename}, #{filesize}, #{contentType})
  	</insert>
  	
  	<select id="select"
  	parameterType="Integer"
  	resultType="com.example.demo.mapper.BoardVO">
  	SELECT num,author,wdate,title,contents 
  	FROM board
  	WHERE num=#{num}
  	</select>
  	
  	<select id="fileList"
  	parameterType="Integer"
	resultType="com.example.demo.mapper.AttachVO">
	SELECT * FROM attachment WHERE num=#{num}
	</select>
  	
	<update id="updateBoard"
	parameterType="com.example.demo.mapper.BoardVO">
	UPDATE board 
	SET author=#{author}, wdate=now(), title=#{title}, contents=#{contents}
	WHERE num=#{num}
	</update>
  	
  	<select id="getBoardList" resultType="com.example.demo.mapper.BoardVO">
  	SELECT
  		num
  		, title
  		, author
  		, DATE_FORMAT(wdate,'%Y-%m-%d') as wdate
  		, contents
  		, views
  		, pnum
	FROM board
	ORDER BY num DESC

  	</select>
  	
  	<select id="getIndexList" 
  	parameterType="Integer"
  	resultType="com.example.demo.mapper.BoardVO">
  	SELECT
  		num,title,author,DATE_FORMAT(wdate,'%Y-%m-%d') as wdate,contents, views
	FROM board	
	WHERE num=#{num}
  	</select>
  	
  	<select id="BoardPaging" resultType="com.example.demo.mapper.BoardVO">
  	SELECT
  		num,title,author,DATE_FORMAT(wdate,'%Y-%m-%d') as wdate,contents, views
	FROM board
  	</select>
  	
  	<delete id="deleteBoard" parameterType="Integer">  	
  		DELETE FROM board WHERE num=#{num}
  	</delete>
  
	<update id="countUpdate" parameterType="com.example.demo.mapper.BoardVO">
	UPDATE board SET views = views+1   
	WHERE num=#{num}
	</update>
	
	<select id="search" resultType="com.example.demo.mapper.BoardVO"
	parameterType="String">
	SELECT * FROM board WHERE (title LIKE CONCAT('%',#{sen},'%'))
	OR (author LIKE CONCAT('%',#{sen},'%')) ORDER BY num DESC
	</select>
	
	<select id="pnum" resultType="com.example.demo.mapper.BoardVO">
	SELECT num from board WHERE num=#{num}
	</select>
  	
</mapper>